mixin header(data, options)
  //- options = setOptionsDefaults(options, "header")
  - var primary = components.header.data.primary
  - var secondary = components.header.data.secondary

  header.header
    .header__top
      .l-site-width
        h1.header__title Basler & Hofmann
      
        nav.header__menu.header__menu--secondary
          ul.inline
            each link, index in secondary
              li
                if link.icon
                  a(href=link.href)
                    i(class="icon icon--" + link.icon)
                    | #{link.title}
                else
                  a(href=link.href)= link.title

    .header__bottom
      .l-site-width
        nav.header__menu.header__menu--primary
          ul.inline
            each link, index in primary
              li
                a(href=link.href)= link.title
        
        a.header__search
          i.icon.icon--search
