$logo-width: 200px;

$search-icon-width: 18px;
$search-icon-height: 16px;

.header {
  &-logo {
    display: inline;
    float: left;
    margin: 0 0 0 $size-m; // REVIEW: do we need this margin left? I know that we have that on the specs, but it doesn't look like it has on invision
    padding: 23px 0;

    &-image {
      width: $logo-width;
      max-width: 100%;
    }
  }

  &-top, &-bottom {
    position: relative; // for search button absolute position.
    padding-left: $size-m; // REVIEW: do we need this? because we al
    border-bottom: 1px solid $c-grey20; // REVIEW: we should add a variable (e.g. header-border-color)
    overflow: hidden; // clearfix
  }

  &-menu {
    min-height: $size-l; // REVIEW: we should put a variable in here so it's easy to change, if needed
  }

  &-icon {
    position: relative;
    display: inline-block;
    width: 16px; // REVIEW: we should put this in a variable  (e.g. header-icon-w)
    height: 14px; // REVIEW: we should put this in a variable (e.g. header-icon-h)
    margin-right: 5px; // REVIEW: we should put a variable    (e.g. header-icon-spacing)
    top: -3px; // REVIEW: do we need this?

    svg {
      max-width: 100%;
    }
    path {
      fill: currentColor;
    }
  }

  .header-item {
    display: inline-block;
    margin-left: $size-m; // REVIEW: we should put this in a variable (e.g. header-item-spacing-primary)
    padding: 22px 0 21px 0; // REVIEW: can we instead of doing this have a variable called $header-bottom-height and then use line-height here?
    text-decoration: none;

    &, &:link, &:active, &:visited {
      color: $c-black; // REVIEW: we should put this in a variable (e.g. header-item-color-primary)
    }
    &.active, &:hover, &:focus {
      color: $c-pink; // REVIEW: we should put this in a variable (e.g. header-item-color-active-primary)
    }
    &.active {
      @extend .t-border-bottom;

      &:after {
        bottom: 9px; // Need to define it because of the uncommon vertical padding on the link.
      }
    }
  }

  &-menu-secondary {
    margin-left: $size-m + $logo-width; // REVIEW: I think we can remove this because we have text-align: right
    text-align: right;

    .header-item {
      margin-left: $size-xs; // REVIEW: we should put this in a variable (e.g. header-item-spacing-secondary)

      &, &:link, &:active, &:visited {
        color: $c-grey60; // REVIEW: we should put this in a variable (e.g. header-item-color-secondary)
      }
      &.active, &:hover, &:focus {
        color: $c-pink; // REVIEW: we should put this in a variable (e.g. header-item-color--active-secondary)
      }
      &.active {
        &:after {
          bottom: 18px; // Smaller border than on primary links.
          width: 25px;
        }
      }
    }
  }

  &-search {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: $size-l; // REVIEW: we should put this in a variable (e.g. header-search-size)
    border-left: 1px solid $c-grey20; // REVIEW: we should add a variable (e.g. header-border-color)
    border-right: 1px solid $c-grey20; // REVIEW: we should add a variable (e.g. header-border-color)

    &, &:link, &:active, &:visited {
      color: $c-grey80;  // REVIEW: we should put this in a variable (e.g. header-search-color)
    }
    &.active, &:hover, &:focus {
      color: $c-pink; // REVIEW: we should put this in a variable (e.g. header-search-color-active)
    }

    path {
      fill: currentColor;
    }

    &-icon {
      position: absolute;
      width: $search-icon-width;
      height: $search-icon-height;
      // REVIEW: instead of a negative margin-left and margin-right to center
      // stuff we could use transform: translate(-50%, -50%);
      // there is a mixin in bones to do this
      // @include absolute-center($direction: both)
      left: 50%;
      top: 50%;
      margin-left: -$search-icon-width / 2;
      margin-top: -$search-icon-height / 2;
    }
  }
}
