mixin header(data, options)
  - options = setOptionsDefaults(options, 'header', components['header'])
  - var primary = components.header.data.primary
  - var secondary = components.header.data.secondary

  header.header
    .header-top
      .l-xl-width
        h1.header-logo
          a(href="/en/")
            .is-visuallyhidden Basler & Hofmann
            img.header-logo-image(src= relativePath + "assets/basler-and-hofmann-logo.svg", alt="Basler & Hofmann")

        nav.header-menu.header-menu-secondary
          ul.l-horizontal-list
            each link, index in secondary
              li
                if link.icon
                  - var itemClass = link.title === options.active ? 'active' : ''
                  a.header-item.t-label(href=link.href, class=itemClass)
                    i(class="header-icon header-icon-" + link.icon)
                      +header-svg(link.icon)
                    | #{link.title}
                else
                  +header-item(link, options, 'secondary')

    .header-bottom
      .l-xl-width
        nav.header-menu.header-menu-primary
          ul.l-horizontal-list
            each link, index in primary
              li
                +header-item(link, options)

        a.header-search(alt="Search", href="#")
          i.header-search-icon
            +header-svg("loupe")

mixin header-item(item, options, type)
  - type = type || 'primary'
  - var itemClass = item.title === options.active ? 'active' : ''
  - var typographyClass = type === 'primary' ? ' t-navigation' : ' t-label'
  - itemClass += typographyClass
  a.header-item.t-navigation(href=item.href, class=itemClass)= item.title

mixin header-svg(icon)
  div(data-grunticon-embed, class="icon--" + icon)
