@import
    "bonescss/2.layout",
    "sensible/grid";

@include sensibleGrid (
    $modern: false,
    $gutter: 2*$s-gutter,
    $base-font-size: $base-font-size,
    $slug: "l-",
    $pushClasses: false,
    $gridWidths: (
        "one-whole"         : 100%,
        "one-half"          : 50%,
        "one-quarter"       : 25%,
        "three-quarters"    : 75%,
        "one-third"         : 33.333%,
        "two-thirds"        : 66.666%,
        "one-fifth"         : 20%,
        "two-fifth"         : 40%,
        "four-fifths"       : 80%,
        "one-sixth"         : 16.666%,
        "five-sixths"       : 83.333%,
        "thirty-seven"      : 37.5%, // used in combination with one-quarter
        "thirty-five"       : 35%, // used in combination with one-quarter + two-fifth
        "thirty"            : 30% // used in combination with two-fifth
    ),
    $gridBreakpoints: "not-tablet" "tablet" "tablet-portrait" "not-mobile" "mobile" "mobile-portrait" "print"
);


// Container utility classes

.l-xl-width {
  @extend .l-site-width;
  max-width: $container-xl;
  padding-left: $size-s; padding-right: $size-s;
}

.l-l-width {
  @extend .l-site-width;
  max-width: $container-l;
  padding-left: $size-s; padding-right: $size-s;
}

.l-m-width {
  @extend .l-site-width;
  max-width: $container-m;
  padding-left: $size-s; padding-right: $size-s;
}

.l-s-width {
  @extend .l-site-width;
  max-width: $container-s;
  padding-left: $size-s; padding-right: $size-s;
}


// Vertical Spacing utility classes
// To avoid having unneded classes, let's just uncomment one once we need it.
.l-spacing-v-xl { padding-top: $size-xl; padding-bottom: $size-xl; }
.l-spacing-v-l  { padding-top: $size-l;  padding-bottom: $size-l;  }
.l-spacing-v-m  { padding-top: $size-m;  padding-bottom: $size-m;  }
.l-spacing-v-s  { padding-top: $size-s;  padding-bottom: $size-s;  }
// .l-spacing-v-xs { padding-top: $size-xs; padding-bottom: $size-xs; }
//

.l-margin-v-xl { margin-bottom: $size-xl; }
.l-margin-v-l { margin-bottom: $size-l; }
.l-margin-v-m { margin-bottom: $size-m; }
.l-margin-v-s { margin-bottom: $size-s; }
.l-margin-v-xs { margin-bottom: $size-xs; }




// Border utilities
.l-border-t { border-top: 1px solid $c-grey20; }
