@import "typography-theo";

// We could use utilities, vertical rythm, other stuff here.

@font-face {
  font-family: ZwoWeb-Semibold;
  src: url("../assets/fonts/ff-zwo-web-semi-bold/ZwoWeb-Semibold.woff") format("woff");
}

@font-face {
  font-family: ZwoWeb-Semibold;
  src: url("../assets/fonts/ff-zwo-web-semi-bold/ZwoWeb-Semibold.woff") format("woff");
}

@font-face {
  font-family: ZwoWeb-Light;
  src: url("../assets/fonts/ff-zwo-web-light/ZwoWeb-Light.woff") format("woff");
}

$t-border-spacing: .8333em;
$-title-margin-bottom: 1.38em;

.t-border-bottom {
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -$t-border-spacing;
    left: 0;
    width: 40px;
    height: 1px;
    background-color: currentColor;
  }
}

.list--no-bullets {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding: 0;
    margin: 0;
    &:before { display: none; }
  }
}


.t-title {
  @extend .t-border-bottom;
  margin-bottom: $-title-margin-bottom + $t-border-spacing;
}

.t-lead {
  margin-top: 0;
}

a {
  &, &:link, &:active, &:visited {
    color: $c-grey60;
  }
  &.active, &:hover, &:focus {
    color: $c-pink;
  }
}

h1 { @extend .t-h1; }
h2 { @extend .t-h2; }
h3 { @extend .t-h3; }
h4 { @extend .t-h4; }
p  { @extend .t-paragraph; }
a  { @extend .t-link; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $strong-font-family;
}

strong { font-weight: 700; font-family: "ZwoWeb-Semibold"; }


h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 32em;
  margin: 0;
}

.button {
  margin-top: 1em;
}

ul {
  margin: 0;
}

// TODO: remove this, is just for debugging
// background: rgba(red, 0.1);

// NOTE: h1 doesn't have margin top
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
}

p, ul {
  margin-top: 1em;
}

p + p,
li + li {
  margin-top: .5em;
}

.t-vr-reset { margin-top: 0; }


figure + p { margin-top: $size-m; }


ul {
  list-style: none;
  padding: 0;
  // column-count: 2;
  // column-gap: 2*$s-gutter;
  li {
    position: relative;
    padding-left: 1.5 * $s-gutter;
    &:before {
      content: "_";
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.list--two-columns {
  column-count: 2;
  column-gap: 2*$s-gutter;

  > li {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */

    // Display bullets again, the css column change how the &:before pseudo
    // element is displayed.
    margin-left: 15px;

    // On 2 column layout the "li + li" margin top make the second column not align
    // to the first one. Use an equivalent margin-bottom to keep correct spacing
    // between elements.
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}

ul.list--two-columns{
  // Since we added a margin-bottom to the li we remove it from the list.
  // We need to increase specificty to ul since we override a style applied to ul.
  margin-bottom: -0.5em;
}


p .icon {
  margin-right: .5em;
  svg {
    width: 1em;
    height: 1em;
  }
  path {
    fill: currentColor;
  }
}
