@import "typography-theo";

// We could use utilities, vertical rythm, other stuff here.

@font-face {
  font-family: ZwoWeb-Semibold;
  src: url("../assets/fonts/ff-zwo-web-semi-bold/ZwoWeb-Semibold.woff") format("woff");
}

@font-face {
  font-family: ZwoWeb-Semibold;
  src: url("../assets/fonts/ff-zwo-web-semi-bold/ZwoWeb-Semibold.woff") format("woff");
}

@font-face {
  font-family: ZwoWeb-Light;
  src: url("../assets/fonts/ff-zwo-web-light/ZwoWeb-Light.woff") format("woff");
}



.t-border-bottom {
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 40px;
    height: 1px;
    background-color: currentColor;
  }
}

h1 { @extend .t-h1; color: $c-black; } // override default color which is pink.
h2 { @extend .t-h2; }

p  { @extend .t-paragraph; }
a  { @extend .t-link; }

strong { font-weight: 700; }
