mixin footer (data, options)
  - options = setOptionsDefaults(options, "footer", components.footer)

  footer.footer
    .l-xl-width
      span.footer-copyright.t-paragraph= data.copyright
      .footer-items-group
        each item in data.languages
          +footer-item(item)
      .footer-items-group
        each item in data.links
          +footer-item(item)

//- General mixin for footer-item so that
//- we avoid repetition
mixin footer-item (item)
  a.footer-item.t-paragraph(href=item.href, class=item.active === true ? 'is-item-active ' : '')= item.text

