mixin share(data, options)
  - options = setOptionsDefaults(options, "share", components.share)

  .share
    ul.share-links.l-horizontal-list.list--no-bullets
      li.share-item
        a.share-link(href="mailto:?subject=Subject to define&body=Text to define: " + data.url, title="Share by email")
          +share-svg("mail")
      li.share-item
        a.share-link(href="http://www.twitter.com/share?url=" + data.url, title="Tweet this page")
          +share-svg("twitter")

mixin share-svg(icon)
  div(data-grunticon-embed, class="icon--" + icon)
