// SPACINGS
$figure-caption-text-width: 12 * $s-gutter !default;
$figure-caption-text-margin: $size-xs !default;
$figure-caption-margin:     2em !default; // same as headings

figure {
  @extend .l-s-width;
  padding: 0;
  position: relative;
  margin-top: $figure-caption-margin;

  img {
    display: block; // Remove extra whitespace at the bottom of inline image.
    margin: 0 0 0 auto; // In case the image is smaller align it next to the caption.
    max-width: 100%;
  }

  figcaption {
    @extend .t-link;
    position: absolute;
    top: 0;
    right: -($figure-caption-text-margin + $figure-caption-text-width);
    width: $figure-caption-text-width;
  }
}
