mixin testimonial(data, options)
  - options = setOptionsDefaults(options, "testimonial", components.testimonial)

  .testimonial(style="background-image: url(#{data.imgSrc})")
    p.testimonial-text= data.text
