

$c-pink: #dc2856; // 
$c-light-pink: #f8f1f7; // 
$c-white: #fff; // 
$c-black: #000; // 
$c-grey100: #2f2f2f; // 
$c-grey80: #444; // 
$c-grey60: #999; // 
$c-grey40: #bbb; // 
$c-grey20: #d0d0d0; // 
$c-light-grey: #f9f9f9; // 


