// SPACINGS
$search-field-height:               $size-m         !default;
$search-field-height--small:        40px            !default;
$search-field-icon-size:            16px            !default;
$search-field-spacing:              1.5 * $s-gutter !default;

// COLORS
$search-field-border-color:         $c-grey20       !default;
$search-field-border-color-focused: $c-grey40       !default;
$search-field-placeholder-color:    $c-grey40       !default;
$search-field-text-color:           $c-grey80       !default;

.search-field {
  position: relative;
  z-index: 500; // When filter component is open we want it to be above content.

  &-input {
    @extend .t-paragraph;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: $search-field-height;
    padding: $search-field-spacing;
    padding-left: 2*$search-field-spacing + $search-field-icon-size;
    border: 1px solid $search-field-border-color;
    color: $search-field-text-color;
    outline: none;

    &:focus {
      border-color: $search-field-border-color-focused;
    }

    @include placeholder() {
      color: $search-field-placeholder-color;
    }
  }

  &--size-small .search-field-input {
    height: $search-field-height--small; // Used inside the filter callout.
  }

  &-icon {
    position: absolute;
    top: 50%;
    margin-top: - ($search-field-icon-size / 2);
    left: $search-field-spacing;
    width: $search-field-icon-size;
    height: $search-field-icon-size;

    path {
      fill: $search-field-placeholder-color;
    }

    &.is-focused {
      path {
        fill: $search-field-text-color;
      }
    }
  }
}
