mixin search-field (data, options)
  - options = setOptionsDefaults(options, "search-field", components['search-field'])

  .search-field
    input.search-field-input(type="search", placeholder=data.placeholder)
    span.search-field-icon(data-grunticon-embed, class="icon--loupe")
