mixin button (data, options)
  - options = setOptionsDefaults(options, "button", components.button)
  - var classes = getOptionsModifier(options, "button", ['color', 'size'], components.button)

  a.button.t-button(class=classes, href=data.href)
    if options.icon
      +button-svg(options.icon)
    | #{data.text}


mixin button-svg(icon)
  span(data-grunticon-embed, class="icon--" + icon)
