$button-height: 4*$s-gutter;
$button-horizontal-spacing: 3*$s-gutter;

.button {
  @extend .t-button;
  background: transparent;
  display: inline-block;
  border: 1px solid $c-grey3;
  border-radius: 1px;
  height: $button-height;
  line-height: $button-height;
  padding: 0 $button-horizontal-spacing;

  text-align: center;
  text-decoration: none;


  &--color-dark {
    border-color: $c-grey3;
    color: $c-grey3;
  }
  &--color-light {
    border-color: $c-white;
    color: $c-white;
  }
}
