$button-height: 5*$s-gutter;
$button-horizontal-spacing: 3*$s-gutter;

.button {
  @extend .t-button;
  box-sizing: border-box; // so that border is not calculated on the total height (i.e. border inside)
  background: transparent;
  display: inline-block;
  border: 1px solid $c-grey80;
  border-radius: 1px;
  height: $button-height;
  line-height: $button-height;
  padding: 0 $button-horizontal-spacing;

  text-align: center;
  text-decoration: none;


  &--color-pink {
    border-color: $c-pink;
    color: $c-pink;
  }
}
