// SPACES
$button-height-large:       5 * $s-gutter    !default;
$button-height-normal:      4 * $s-gutter    !default;
$button-horizontal-spacing: 3 * $s-gutter    !default;
$button-icon-width:         $s-gutter-double !default;
$button-icon-spacing:       $s-gutter        !default;

.button {
  @extend .t-button;
  box-sizing: border-box; // so that border is not calculated on the total height (i.e. border inside)
  background: transparent;
  display: inline-block;
  border: 1px solid $c-grey80;
  border-radius: 1px;
  padding: 0 $button-horizontal-spacing;

  text-align: center;
  text-decoration: none;

  border-color: currentColor;

  transition: background-color 100ms ease-in;

  &, &--size-normal {
    height: $button-height-normal;
    line-height: $button-height-normal;
  }

  &--size-large {
    height: $button-height-large;
    line-height: $button-height-large;
  }

  svg {
    margin-right: $button-icon-spacing;
    width: $button-icon-width;
  }

  path {
    fill: currentColor;
  }


  &--color-pink {
    &, &:link, &:active, &:visited {
      color: $c-pink; // (1)
      border-color: $c-pink;
    }

    &:hover, &:focus {
      background: $c-pink;
    }
  }

  &--color-grey {
    &, &:link, &:active, &:visited {
      color: $c-grey80; // (1)
      border-color: $c-grey80;
    }
    &:hover, &:focus {
      background: $c-grey80;
    }
  }

  // This needs to be added  here so the :active declarations on (1) don't take place
  // as they have the same CSS priority so the one that appears last is taken.
  &:hover, &:focus {
    color: $c-white;
  }
}
