// SPACINGS
$item-text-card-spacing: 3 * $s-gutter !default;
$item-text-margin: $size-s;

.item-text {
  padding: $item-text-card-spacing;
  margin-top: $item-text-margin;

  &--no-card   { padding: $item-text-card-spacing 0; }
  &--card-grey { background: $c-light-grey; }
  &--card-blue { background: $c-blue; }
}


