extends /layout/layout

block htmlhead
    title Basler & Hofmann
    meta(name='description', content='')

block htmlbody

  +header({}, {active: "Aktuelles"})

  .l-l-width
    h1.t-h1.t-border-bottom Aktuelles

    +search-field({ placeholder: 'Suche in Veranstaltungen' }, {})

  +tabs({
    tabs: [
      { text: 'Alle'           , href: 'aktuelles.html'                  },
      { text: 'News'           , href: 'aktuelles-news.html'             },
      { text: 'Veranstaltungen', href: 'aktuelles-veranstaltungen.html', active: true  },
      { text: 'Broschüre'      , href: 'aktuelles-broschure.html'        },
      { text: 'Newsletter'     , href: 'aktuelles-newsletter.html'       },
      { text: 'Farchartikel'   , href: 'aktuelles-farchartikel.html'     },
      { text: 'Reportage'      , href: 'aktuelles-reportage.html'        }
    ]
  },{})

  .section.section--background-white
    .l-l-width
      +list({title: "Demnächst"}, {showTitle: true})
        +list-item()
          +item-job({ position: 'Bauingenier/in Brückenbau', location: 'Zürich', positionUrl: '#', locationUrl: '#'}, {})
        +list-item()
          +item-job({ position: 'Bauleiter/in Hoch- und Tiefbau', location: 'Lausanne', positionUrl: '#', locationUrl: '#'}, {})
        +list-item()
          +item-job({ position: 'Bauzeichner/in', location: 'Zug', positionUrl: '#', locationUrl: '#'}, {})
      
      +list({title: "Rückblick"}, {showTitle: true})
        +list-item()
          +item-job({ position: 'Bauingenier/in Brückenbau', location: 'Zürich', positionUrl: '#', locationUrl: '#'}, {})
        +list-item()
          +item-job({ position: 'Bauleiter/in Hoch- und Tiefbau', location: 'Lausanne', positionUrl: '#', locationUrl: '#'}, {})
        +list-item()
          +item-job({ position: 'Bauzeichner/in', location: 'Zug', positionUrl: '#', locationUrl: '#'}, {})
      .section-button
        a.button.button--color-pink.button--size-large(href="#") Weitere Veranstaltungen laden
    .l-margin-v-xl

  +footer({
    copyright: '© Basler & Hofmann 2015',
    languages: [
      { text: 'DE', href: '#', active: true },
      { text: 'FR', href: '#' },
      { text: 'EN', href: '#' }
    ],
    links: [
      { text: 'Impressum'    , href: '#' },
      { text: 'Service Links', href: '#' }
    ]
  }, {})
