extends /layout/layout

block htmlhead
    title Basler & Hofmann
    meta(name='description', content='')

block htmlbody

  +header({}, {active: "Aktuelles"})

  .l-l-width
    h1.t-h1.t-border-bottom Aktuelles

  +tabs({
    tabs: [
      { text: 'Alle'           , href: 'aktuelles.html'                 , active: true },
      { text: 'News'           , href: 'aktuelles-news.html'             },
      { text: 'Veranstaltungen', href: 'aktuelles-veranstaltungen.html'  },
      { text: 'Broschüre'      , href: 'aktuelles-broschure.html'        },
      { text: 'Newsletter'     , href: 'aktuelles-newsletter.html'       },
      { text: 'Farchartikel'   , href: 'aktuelles-farchartikel.html'     },
      { text: 'Reportage'      , href: 'aktuelles-reportage.html'        }
    ]
  },{})

  .l-s-width.l-spacing-v-xl
    h2 Bei allfälligen Fragen
    p Falls Sie eine Medienanfrage haben, zögern Sie nicht, uns zu kontaktieren!

    .l-grid
      .l-grid-cell.l-one-third
        +item-contact({
          imgSrc: "http://lorempixel.com/output/people-q-c-217-145-1.jpg",
          firstname: "Hans",
          lastname: "Muster",
          role: "Leitender Experte",
          region: "Murten",
          phone: "044 387 13 19",
          email: "test@example.com"
          }, {})
