extends /layout/layout

block htmlhead
    title Basler & Hofmann
    meta(name='description', content='')

block htmlbody

  +header({}, {active: "Aktuelles"})

  .js-search(data-search-items-selector=".item-current")
    .l-l-width.l-spacing-v-l
      h1.t-title.t-border-bottom Aktuelles

      +search-field({ placeholder: 'Suche in Newsletter' }, {})

    +tabs({
      tabs: [
        { text: 'Alle'           , href: 'aktuelles.html'                  },
        { text: 'News'           , href: 'aktuelles-news.html'             },
        { text: 'Veranstaltungen', href: 'aktuelles-veranstaltungen.html'  },
        { text: 'Broschüre'      , href: 'aktuelles-broschure.html'        },
        { text: 'Newsletter'     , href: 'aktuelles-newsletter.html'     , active: true  },
        { text: 'Farchartikel'   , href: 'aktuelles-farchartikel.html'     },
        { text: 'Reportage'      , href: 'aktuelles-reportage.html'        }
      ]
    },{})

    .l-l-width.l-spacing-v-l
      .l-grid
        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Einblicke - November 2014', label: 'Newsletter', imgSrc: relativePath + 'assets/newsletter/newsletter1.jpg'}, {size: 'box', border: true})
        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Fokus Bahnhof - September 2014', label: 'Newsletter', imgSrc: relativePath + 'assets/newsletter/newsletter2.jpg'}, {size: 'box', border: true})
        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Fokus Bahnhof - Juli 2014', label: 'Newsletter', imgSrc: relativePath + 'assets/newsletter/newsletter3.jpg'}, {size: 'box', border: true})

        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Fokus Bahnhof - Juni 2014', label: 'Newsletter', imgSrc: relativePath + 'assets/newsletter/newsletter4.jpg'}, {size: 'box', border: true})
        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Fokus Bahnhof - Juni 2014', label: 'Newsletter', imgSrc: relativePath + 'assets/newsletter/newsletter5.jpg'}, {size: 'box', border: true})
        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Fokus Bahnhof - November 2014', label: 'Newsletter', imgSrc: relativePath + 'assets/newsletter/newsletter6.jpg'}, {size: 'box', border: true})

        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Einblicke - Juni 2013', label: 'Newsletter', imgSrc: relativePath + 'assets/newsletter/newsletter7.jpg'}, {size: 'box', border: true})
        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Fokus Bahnhof - November 2012', label: 'Newsletter', imgSrc: relativePath + 'assets/newsletter/newsletter8.jpg'}, {size: 'box', border: true})
        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Fokus Bahnhof - Mai 2012', label: 'Newsletter', imgSrc: relativePath + 'assets/newsletter/newsletter9.jpg'}, {size: 'box', border: true})

      .section-button
        +button({
            href: "#",
            text: "Weitere Newsletter laden"
        }, { color: 'pink', size: 'large' })


  +footer({
    copyright: '© Basler & Hofmann 2015',
    languages: [
      { text: 'DE', href: '#', active: true },
      { text: 'FR', href: '#' },
      { text: 'EN', href: '#' }
    ],
    links: [
      { text: 'Impressum'    , href: '#' },
      { text: 'Service Links', href: '#' }
    ]
  }, {})
