extends /layout/layout

block htmlhead
    title Basler & Hofmann
    meta(name='description', content='')

block htmlbody

  +header({}, {active: "Aktuelles"})

  .l-l-width.l-spacing-v-l
    h1.t-title.t-border-bottom Aktuelles

    +search-field({ placeholder: 'Suche in Aktuelles' }, {})

  +tabs({
    tabs: [
      { text: 'Alle'           , href: 'aktuelles.html'                 , active: true },
      { text: 'News'           , href: 'aktuelles-news.html'             },
      { text: 'Veranstaltungen', href: 'aktuelles-veranstaltungen.html'  },
      { text: 'Broschüre'      , href: 'aktuelles-broschure.html'        },
      { text: 'Newsletter'     , href: 'aktuelles-newsletter.html'       },
      { text: 'Farchartikel'   , href: 'aktuelles-farchartikel.html'     },
      { text: 'Reportage'      , href: 'aktuelles-reportage.html'        }
    ]
  },{})

  .l-l-width.l-spacing-v-l
    //- TODO: CHANGE THIS
    .l-grid
      .l-grid-cell.l-margin-v-m.l-thirty
        +item-current({ title: 'Fachtagung bei der Basler & Hofman ZH: Schule als Gestaltungs-, Lern- und Lebensraum', date: '30.03.2015', location: 'Zürich', label: 'Veranstaltung'}, {size: 'box', icon: 'event', background: 'light-pink'})
      .l-grid-cell.l-margin-v-m.l-thirty
        +item-current({ title: 'Fachtagung bei der Basler & Hofman ZH: Schule als Gestaltungs-, Lern- und Lebensraum', date: '30.03.2015', location: 'Zürich', label: 'Veranstaltung'}, {size: 'box', icon: 'event', background: 'light-pink'})
      .l-grid-cell.l-margin-v-m.l-thirty
        +item-current({ title: 'NZZ am Sonntag vom 28.12.2014: Unterschätzter Unterhalt ', date: '21.03.2015', label: 'Fachartikel'}, {size: 'box', icon: 'news', background: 'light-blue'})
      .l-grid-cell.l-margin-v-m.l-thirty
        +item-current({ title: 'Fachtagung bei der Basler & Hofman ZH: Schule als Gestaltungs-, Lern- und Lebensraum', date: '30.03.2015', location: 'Zürich', label: 'Veranstaltung'}, {size: 'box', icon: 'event', background: 'light-pink'})
      .l-grid-cell.l-margin-v-m.l-thirty
        +item-current({ title: 'NZZ am Sonntag vom 28.12.2014: Unterschätzter Unterhalt ', date: '21.03.2015', label: 'Fachartikel'}, {size: 'box', icon: 'news', background: 'light-blue'})
      .l-grid-cell.l-margin-v-m.l-thirty
        +item-current({ title: 'Fachtagung bei der Basler & Hofman ZH: Schule als Gestaltungs-, Lern- und Lebensraum', date: '30.03.2015', location: 'Zürich', label: 'Veranstaltung'}, {size: 'box', icon: 'event', background: 'light-pink'})

  +footer({
    copyright: '© Basler & Hofmann 2015',
    languages: [
      { text: 'DE', href: '#', active: true },
      { text: 'FR', href: '#' },
      { text: 'EN', href: '#' }
    ],
    links: [
      { text: 'Impressum'    , href: '#' },
      { text: 'Service Links', href: '#' }
    ]
  }, {})
