extends /layout/layout

block htmlhead
    title Basler & Hofmann
    meta(name='description', content='')

block htmlbody

  +header({}, {active: "Aktuelles"})

  .js-search(data-search-items-selector=".item-current")
    .l-l-width.l-spacing-v-l
      h1.t-title.t-border-bottom Aktuelles

      +search-field({ placeholder: 'Suche in Broschüre' }, {})

    +tabs({
      tabs: [
        { text: 'Alle'           , href: 'aktuelles.html'                  },
        { text: 'News'           , href: 'aktuelles-news.html'             },
        { text: 'Veranstaltungen', href: 'aktuelles-veranstaltungen.html'  },
        { text: 'Broschüre'      , href: 'aktuelles-broschure.html'      , active: true  },
        { text: 'Newsletter'     , href: 'aktuelles-newsletter.html'       },
        { text: 'Farchartikel'   , href: 'aktuelles-farchartikel.html'     },
        { text: 'Reportage'      , href: 'aktuelles-reportage.html'        }
      ]
    },{})


    .l-l-width.l-spacing-v-l
      .l-grid
        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Expertise auf allen Ebenen', label: 'Broschüre', imgSrc: relativePath + 'assets/broschure/broschure1.jpg'}, {size: 'box', download: true, border: true})
        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Expertise at every level', label: 'Broschüre', imgSrc: relativePath + 'assets/broschure/broschure2.jpg'}, {size: 'box', download: true, border: true})
        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Perspektiven', label: 'Broschüre', imgSrc: relativePath + 'assets/broschure/broschure3.jpg'}, {size: 'box', download: true, border: true})

        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Basler Hofmann Innerschweiz', label: 'Broschüre', imgSrc: relativePath + 'assets/broschure/broschure4.jpg'}, {size: 'box', download: true, border: true})
        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Bahnhofsentwicklung', label: 'Broschüre', imgSrc: relativePath + 'assets/broschure/broschure5.jpg'}, {size: 'box', download: true, border: true})
        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Broschüre Exzellenz im Tunnelbau', label: 'Broschüre', imgSrc: relativePath + 'assets/broschure/broschure6.jpg'}, {size: 'box', download: true, border: true})

        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Broschüre Gebäude, die funktionieren', label: 'Broschüre', imgSrc: relativePath + 'assets/broschure/broschure7.jpg'}, {size: 'box', download: true, border: true})
        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Broschüre Gesamtdienstleister für Bahninfrastruktur', label: 'Broschüre', imgSrc: relativePath + 'assets/broschure/broschure8.jpg'}, {size: 'box', download: true, border: true})
        .l-grid-cell.l-margin-v-xs.l-one-third
          +item-current({ title: 'Broschüre Kompetenzzentrum Hochleistungsstrassen', label: 'Broschüre', imgSrc: relativePath + 'assets/broschure/broschure9.jpg'}, {size: 'box', download: true, border: true})

  .l-border-t.l-spacing-v-l
    .l-m-width
      h2.t-vr-reset Ihre Ansprechpartner
      .l-grid
        .l-grid-cell.l-one-third
          +item-contact({
            href: './detail-employee.html',
            imgSrc: relativePath + 'assets/home-contact1.png',
            firstname: "Hans",
            lastname: "Muster",
            role: "Leitender Experte",
            region: "Murten",
            phone: "044 387 13 19",
            email: "test@example.com"
            }, {})
        .l-grid-cell.l-one-third
          +item-contact({
            href: './detail-employee.html',
            imgSrc: relativePath + 'assets/home-contact2.png',
            firstname: "Maria",
            lastname: "Muster",
            role: "Leitender Expertin",
            region: "Zürich",
            phone: "044 387 13 19",
            email: "test2@example.com"
            }, {})
        .l-grid-cell.l-one-third
          +item-contact({
            href: './detail-employee.html',
            imgSrc: relativePath + 'assets/home-contact3.png',
            firstname: "Peter",
            lastname: "Muster",
            role: "Leitender Experte",
            region: "Lausanne",
            phone: "044 387 13 19",
            email: "test3@example.com"
            }, {})

  +footer({
    copyright: '© Basler & Hofmann 2015',
    languages: [
      { text: 'DE', href: '#', active: true },
      { text: 'FR', href: '#' },
      { text: 'EN', href: '#' }
    ],
    links: [
      { text: 'Impressum'    , href: '#' },
      { text: 'Service Links', href: '#' }
    ]
  }, {})
