extends /layout/layout

block htmlhead
    title Basler & Hofmann
    meta(name='description', content='')

block htmlbody

  +header({}, {active: "Aktuelles"})

  .l-l-width.l-spacing-v-l
    h1.t-title.t-border-bottom Aktuelles

    +search-field({ placeholder: 'Suche in Aktuelles' }, {})

  +tabs({
    tabs: [
      { text: 'Alle'           , href: 'aktuelles.html'                 , active: true },
      { text: 'News'           , href: 'aktuelles-news.html'             },
      { text: 'Veranstaltungen', href: 'aktuelles-veranstaltungen.html'  },
      { text: 'Broschüre'      , href: 'aktuelles-broschure.html'        },
      { text: 'Newsletter'     , href: 'aktuelles-newsletter.html'       },
      { text: 'Farchartikel'   , href: 'aktuelles-farchartikel.html'     },
      { text: 'Reportage'      , href: 'aktuelles-reportage.html'        }
    ]
  },{})

  .l-l-width.l-spacing-v-l
    //- TODO: CHANGE THIS
    .l-grid
      .l-grid-cell.l-margin-v-m.l-two-fifth
        +item-project({
          title: "Pistensanierung Zürich Flughafen",
          imgSrc: relativePath + 'assets/projects/project1.jpg',
          legend: "Pistensanierung unter vollem Flugbetrieb",
          link: './detail-project.html'

        }, {legend: true})
      .l-grid-cell.l-margin-v-m.l-thirty
        +item-current({ title: 'Fachtagung bei der Basler & Hofman ZH: Schule als Gestaltungs-, Lern- und Lebensraum', date: '30.03.2015', location: 'Zürich', label: 'Veranstaltung'}, {size: 'box', icon: 'calendar', background: 'light-pink'})
      .l-grid-cell.l-margin-v-m.l-thirty
        +item-project({title: "Tramlinie vom Escher-Wyss-Platz bis Zürich Altstetten", imgSrc: relativePath + 'assets/projects/project3.jpg', legend: "Die Verwandlung von Zürich-West: sieben neue Tramhaltestellen und vernetzte Grün- und Freiräume"}, {legend: true})
      
      .l-grid-cell.l-margin-v-m.l-thirty
        +item-current({ title: 'NZZ am Sonntag vom 28.12.2014: Unterschätzter Unterhalt ', date: '21.03.2015', label: 'Fachartikel'}, {size: 'box', icon: 'document', background: 'light-blue'})
      .l-grid-cell.l-margin-v-m.l-thirty-seven
        +item-project({title: "Unterirdischer Durchgangsbahnhof Zürich", imgSrc: relativePath + 'assets/projects/project2.jpg', legend: "Herzstück der 2014 eingeweihten Durchmesserlinie ist der grosse Bahnhof im Zürcher Untergrund"}, {legend: true})

    .section-button
      a.button.button--color-pink.button--size-large(href="#") Weitere Fachartikel laden
      
  .l-border-t.l-spacing-v-l
    .l-l-width
      .l-margin-v-m
        h2 Bei allfälligen Fragen
        p Falls Sie eine Medienanfrage haben, zögern Sie nicht, uns zu kontaktieren!

      .l-grid
        .l-grid-cell.l-one-third
          +item-contact({
            imgSrc: relativePath + 'assets/home-contact2.png',
            firstname: "Maria",
            lastname: "Muster",
            role: "Leitender Expertin",
            region: "Zürich",
            phone: "044 387 13 19",
            email: "test2@example.com"
            }, {})

  +footer({
    copyright: '© Basler & Hofmann 2015',
    languages: [
      { text: 'DE', href: '#', active: true },
      { text: 'FR', href: '#' },
      { text: 'EN', href: '#' }
    ],
    links: [
      { text: 'Impressum'    , href: '#' },
      { text: 'Service Links', href: '#' }
    ]
  }, {})
