extends /layout/layout

block htmlhead
    title Working at B&H
    meta(name='description', content='')

block htmlbody
  +header({}, {active: "Arbeiten bei uns"})

  +fullwidth-image({
    imgSrc: relativePath + 'assets/arbeiten-fullwidth-image1.png'
  }, { content: false })

  +page-navigation({
    links: [
      {"title": "Arbeitsumfeld", "target": "arbeitsumfel"},
      {"title": "Darauf legen wir Wert", "target": "darauf"},
      {"title": "Lehre & Praktika", "target": "lehre-praktika"},
      {"title": "Offene Stellen", "target": "offene"}
    ]
  }, {})

  .l-s-width.l-spacing-v-xl
    h2.t-lead <strong>Gemeinsam. Mit Kopf und Herz</strong> – mit diesen wenigen Worte lässt sich die Grundhaltung unserer beiden Firmenpioniere zusammenfassen. Sie wollten die komplexesten Aufgaben anpacken und herausragende Ingenieurslösungen entwickeln. Dieses Grundverständnis prägt unsere Unternehmenskultur bis heute. Wir sind davon überzeugt, dass wir auch in Zukunft nur mit der Haltung "Gemeinsam. Mit Kopf und Herz" herausragende Leistungen erbringen können.

  +section({
    title: 'Ein attraktives Arbeitsumfeld',
    buttonText: 'Alle offene Stellen ansehen (35)',
    buttonHref: '#',
    id: 'arbeitsumfel'
  }, {
    background: 'light-pink',
    containerSize: 's',
    content: false
  })
    .l-grid
      .l-grid-cell.l-one-half
        +item-text({
          title: 'Teilzeit',
          text: 'Die Gründe für das Teilzeitpensum reichen von Familie über «Trainieren für den Iron Man» bis zum berufsbegleitenden Studium. 34 Prozent unserer Mitarbeitenden arbeiten Teilzeit.'
        }, {})
      .l-grid-cell.l-one-half
        +item-text({
          title: 'Grüne Welle',
          text: 'Wir unterstützen die Nutzung des öffentlichen Verkehrs mit Halbtax und Bonuskarte. 57 Prozent unserer Pendlerkilometer legen wir mit dem ÖV, per Velo oder zu Fuss zurück.'
        }, {})
      .l-grid-cell.l-one-half
        +item-text({
          title: 'Leib und Seele',
          text: 'In der Mensa geht es manchmal zu wie im Bienenkorb. Nach einer Tasse Kaffee mit den Kolleginnen und Kollegen geht’s wieder mit frischen Elan ans Werk.'
        }, {})
      .l-grid-cell.l-one-half
        +item-text({
          title: 'Gemeinschaft',
          text: 'Mehrmals pro Jahr fliegen wir gemeinsam aus: Besonders beliebt ist die «Bürowanderung» — ein gemeinsames Wochenende mit Partner/-in in den Bergen.'
        }, {})

  +fullwidth-image({
    imgSrc: relativePath + 'assets/arbeiten-fullwidth-image2.png'
  }, { size: "big", content: false })

  +section({
    title: 'Darauf legen wir Wert',
    id: 'darauf'
  }, {
    background: 'white',
    containerSize: 's',
    content: false
  })
    p Uns ist wichtig, dass unsere Mitarbeiter sich nicht nur als Fachkraft, sondern als ganzer Mensch fühlen.
    .l-grid
      .l-grid-cell.l-one-half
        +item-text({
          title: 'Beruf und Familie',
          text: 'Mit verschiedenen Massnahmen fördern wir eine gesunde Bilanz zwichen privatem und beruflichem Leben.',
          linkText: 'Weiterlesen',
          linkHref: 'detail-generic.html'
        }, { card: 'grey' })
      .l-grid-cell.l-one-half
        +item-text({
          title: 'Persönliche Entwicklung',
          text: 'Ob Auslandseinsatz, Weiterbildung oder.',
          linkText: 'Weiterlesen',
          linkHref: 'detail-generic.html'
        }, { card: 'grey' })


  +testimonial({
    imgSrc: relativePath + 'assets/arbeiten-testimonial1.png',
    text: '« Unser Team hat schöne Projekte, mit denen wir etwas gestalten können. Und dafür, dass ich abends gut abschalten kann, sorgen meine beiden Kinder. »'
  }, {})

  +section({
    title: 'Lehre & Praktike',
    id: 'lehre-praktika'
  }, {
    background: 'light-blue',
    containerSize: 's',
    content: false
  })
    p Uns ist wichtig, dass unsere Mitarbeiter sich nicht nur als Fachkraft, sondern als ganzer Mensch fühlen.
    .l-grid
      .l-grid-cell.l-one-half
        +item-text({
          title: 'Lehre bei uns',
          text: 'Lernen in einem guten Umfeld, Vernetzung mit Hochschulen, Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
          linkText: 'Weiterlesen',
          linkHref: 'detail-generic.html'
        }, { card: 'blue' })
      .l-grid-cell.l-one-half
        +item-text({
          title: 'Praktika',
          text: 'Praxiserfahrung für Studierende Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis tortor eu tellus.',
          linkText: 'Weiterlesen',
          linkHref: 'detail-generic.html'
        }, { card: 'blue' })

  .l-s-width.l-spacing-v-xl
    h3.t-h3 Aktuelle Recruitment-Anlässe

  +testimonial({
    imgSrc: relativePath + 'assets/arbeiten-testimonial2.png',
    text: '« Ich bin als Bauzeichnerin eingestiegen und habe dann berufsbegleitend ein Bauingenieurstudium absolviert. Nach dem Studium war klar: Ich will in die Bauleitung. »'
  }, {})

  +section({
    title: 'Wir suchen Verstäarkung',
    buttonText: 'Alle offene Stellen ansehen (35)',
    buttonHref: '#',
    id: 'offene'
  }, {
    background: 'white',
    containerSize: 's'
  })


  .l-s-width.l-spacing-v-xl
    h2 Ihre Ansprechpartner
    .l-grid
      .l-grid-cell.l-one-third
        +item-contact({
          imgSrc: relativePath + 'assets/home-contact1.png',
          firstname: "Hans",
          lastname: "Muster",
          role: "Leitender Experte",
          region: "Murten",
          phone: "044 387 13 19",
          email: "test@example.com"
          }, {})
      .l-grid-cell.l-one-third
        +item-contact({
          imgSrc: relativePath + 'assets/home-contact2.png',
          firstname: "Maria",
          lastname: "Muster",
          role: "Leitender Expertin",
          region: "Zürich",
          phone: "044 387 13 19",
          email: "test2@example.com"
          }, {})
      .l-grid-cell.l-one-third
        +item-contact({
          imgSrc: relativePath + 'assets/home-contact3.png',
          firstname: "Peter",
          lastname: "Muster",
          role: "Leitender Experte",
          region: "Lausanne",
          phone: "044 387 13 19",
          email: "test3@example.com"
          }, {})

  +footer-job({}, {})
  +footer({
    copyright: '© Basler & Hofmann 2015',
    languages: [
      { text: 'DE', href: '#', active: true },
      { text: 'FR', href: '#' },
      { text: 'EN', href: '#' }
    ],
    links: [
      { text: 'Impressum'    , href: '#' },
      { text: 'Service Links', href: '#' }
    ]
  }, {})
