extends /layout/layout

block htmlhead
    title Project Detail Page
    meta(name='description', content='')

block htmlbody
  +header({}, {active: "Offene Stellen"})
  +breadcrumbs({
    pages: [
      { name: 'Offene Stellen', href: 'offene.html'},
      { name: 'Newsartikel', }
      ]
    })

  .l-m-width.l-spacing-v-m.t-rt-container
    h1.t-title Bauingenieur/in Brückenbau

    p.t-link
      | Zollikofen |
      a(href="#") Lageplan und Anfahrtsbeschreibung

    p.t-lead
      | Die Projektierung und Realisierung von bedeutenden Tunnelbauten im In-
      | und Ausland zählen zu unseren Kernaufgaben. Zur Verstärkung/ Ergänzung
      | unseres Teams in Esslingen suchen wir auf den nächst möglichen Termin
      | eine/einen Bauingenieur/in Tunnelbau.

    h2 Ihre Aufgaben

    ul.list--two-columns
      li Curabitur at ipsum at massa commodo volutpat at eget diam
      li Nulla facilisi nunc quam sapien, commodo ac luctus sed consectetur at nisi
      li Donec egestas sodales mauris ut imperdiet erat fringilla vel 
      li Phasellus faucibus odio a egestas faucibus duis posuere libero sit amet erat fringilla
      li Sed vel mi tortor sed sit amet semper ipsum etiam et velit ex

    h2 Ihre Aufgaben

    p
      | Sie haben Ihr Studium als Bau-Ingenieur/in erfolgreich abgeschlossen
      | und idealerweise bereits erste Berufserfahrung im Tunnelbau gesammelt.
      | Sie verfügen über gute planerische und organisatorische Fähigkeiten
      | und sind motiviert, in einem Team Projekte zu bearbeiten und zu
      | realisieren. In Ihrer Aufgabe werden Sie von erfahrenen
      | Projektleitern unterstützt.

    p
      | Sie sind deutscher Muttersprache und verständigen sich mündlich und
      | schriftlich gut in Englisch. Weitere Fremdsprachenkenntnisse sind
      | von Vorteil, denn bei Interesse sind Auslandeinsätze denkbar.

    h2 Ihre Aufgaben
    
    p
      | Bei uns erwartet Sie eine attraktive Herausforderung mit interessanten 
      | Entwicklungs- und Weiterbildungsmöglichkeiten. Wir bieten Ihnen ein 
      | attraktives Arbeitsumfeld und fortschrittliche Anstellungsbedingungen. 
      | Ihr Arbeitsort ist in Esslingen/ZH.
  
    h2 Das Team
    
    p
      | Nunc ornare viverra semper. Duis hendrerit tempor ligula eu interdum. 
      | Pellentesque dictum nibh ac ante sodales, nec ornare nisi ultrices. 
      | Aliquam finibus pellentesque nisi quis elementum. Donec vestibulum 
      | hendrerit lectus, ut sagittis eros interdum vitae. 

    h2.l-margin-v-xs Beispielprojekte
    
    .l-grid
      .l-grid-cell.l-one-third
        +item-project({title: "Axenstrasse Schwyz–Uri", imgSrc: relativePath + 'assets/projects/project1.jpg', legend: "Mauris nec sodales nisi, quis euismod velit lorem ipsum dolor."}, {legend: true})
      .l-grid-cell.l-one-third
        +item-project({title: "Eisenbahnverbindung mitten durch Zürich", imgSrc: relativePath + 'assets/projects/project2.jpg', legend: "Ein Tunnel in äusserst heiklem Umfeld"}, {legend: true})
      .l-grid-cell.l-one-third
        +item-project({title: "Unterirdischer Durchgangsbahnhof Zürich", imgSrc: relativePath + 'assets/projects/project3.jpg', legend: "Das Herzstück der 2014 eingeweihten Durchmesserlinie"}, {legend: true})

    h2 Bei allfälligen Fragen
    
    p
      | Falls Sie fachliche Fragen zur Stelle bzw. Fragen zur Bewerbung haben, 
      | bitten wir Sie, sich an eine der folgenden Personen zu wenden.
  
    .l-grid.l-spacing-v-s
      .l-grid-cell.l-one-third
        p Fachliche Fragen zur Stelle
        +item-contact({
          imgSrc: relativePath + 'assets/home-contact2.png',
          firstname: "Maria",
          lastname: "Muster",
          role: "Leitende Expertin, Bereich",
          region: "Murten",
          phone: "044 387 13 19",
          email: "test@example.com"
          }, {})
      .l-grid-cell.l-one-third
        p Fragen zur Bewerbung
        +item-contact({
          imgSrc: relativePath + 'assets/home-contact1.png',
          firstname: "Kathrin",
          lastname: "Huber",
          role: "Leiterin Human Resources,",
          region: "Zürich und Lausanne",
          phone: "044 387 13 19",
          email: "test2@example.com"
          }, {})
    
    h2 Interesse?
    
    p Haben wir Ihr Interesse geweckt? Dann freuen wir uns, Sie kennen zu lernen!
    
    .l-spacing-v-xs
      +button({text: "Jetzt online bewerben", href: "#"}, {color: "pink"})
      +button({text: "Weitersagen", href: "#"}, {color: "grey", icon: "mail"})
      +button({text: "Als PDF herunterladen", href: "#"}, {color: "grey", icon: "download"})

    p Bewerbungen per Post bitte an:

    p.l-margin-v-l
      span.t-h3 Kathrin Huber
      | <br>Leiterin Human Resources, <br>
      | Zürich und Lausanne<br>
      | Forchstrasse 395 <br>
      | Postfach<br>
      | 8032 Zürich

    p
      a(href="offene.html") Zurück zur Übersicht

  +footer-job({}, {})
  +footer({
    copyright: '© Basler & Hofmann 2015',
    languages: [
      { text: 'DE', href: '#', active: true },
      { text: 'FR', href: '#' },
      { text: 'EN', href: '#' }
    ],
    links: [
      { text: 'Impressum'    , href: '#' },
      { text: 'Service Links', href: '#' }
    ]
  }, {})
