extends /layout/layout

block htmlhead
    title Generic Detail Page
    meta(name='description', content='')

block htmlbody
  .l-site-width
    h1 RTE Heading 1
    h2 RTE Heading 2
    p
      | RTE paragraph with <small>small text</small>, <strong>strong text</strong>.
    p
      | It could also contain <a href="#">Links that lead to some places</a>.
      | Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.
      | Por scientie, musica, sport etc, litot Europa usa li sam vocabular.
    p Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.


    h2 Was fasziniert dich an deiner Arbeit?
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis lorem sed lorem bibendum tincidunt. Proin ut maximus purus. Pellentesque vulputate leo ac turpis aliquam, sit amet bibendum neque dictum. Phasellus sed dui pellentesque, accumsan quam tempus, aliquet diam. Suspendisse luctus eget nulla a vehicula. Morbi consectetur viverra commodo.

    h2 Warum arbeitest du bei Basler & Hofmann?
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis lorem sed lorem bibendum tincidunt. Proin ut maximus purus. Pellentesque vulputate leo ac turpis aliquam, sit amet bibendum neque dictum. Phasellus sed dui pellentesque, accumsan quam tempus, aliquet diam. Suspendisse luctus eget nulla a vehicula. Morbi consectetur viverra commodo.

    h3 Basler & Hofmann West AG
    p
      | Forchstrasse 395, Postfach
      br
      | CH-8032 Zürich
      br
      | <a href="#">Lageplan und Anfahrtsbeschreibung</a>

    h2 Was fasziniert dich an deiner Arbeit?
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis lorem sed lorem bibendum tincidunt. Proin ut maximus purus. Pellentesque vulputate leo ac turpis aliquam, sit amet bibendum neque dictum. Phasellus sed dui pellentesque, accumsan quam tempus, aliquet diam. Suspendisse luctus eget nulla a vehicula. Morbi consectetur viverra commodo.

    h2 Warum arbeitest du bei Basler & Hofmann?
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis lorem sed lorem bibendum tincidunt. Proin ut maximus purus. Pellentesque vulputate leo ac turpis aliquam, sit amet bibendum neque dictum. Phasellus sed dui pellentesque, accumsan quam tempus, aliquet diam. Suspendisse luctus eget nulla a vehicula. Morbi consectetur viverra commodo.

    h3 Basler & Hofmann West AG
    p
      | Forchstrasse 395, Postfach
      br
      | CH-8032 Zürich
      br
      | <a href="#">Lageplan und Anfahrtsbeschreibung</a>

    h2 Was fasziniert dich an deiner Arbeit?
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis lorem sed lorem bibendum tincidunt. Proin ut maximus purus. Pellentesque vulputate leo ac turpis aliquam, sit amet bibendum neque dictum. Phasellus sed dui pellentesque, accumsan quam tempus, aliquet diam. Suspendisse luctus eget nulla a vehicula. Morbi consectetur viverra commodo.

    h2 Warum arbeitest du bei Basler & Hofmann?
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis lorem sed lorem bibendum tincidunt. Proin ut maximus purus. Pellentesque vulputate leo ac turpis aliquam, sit amet bibendum neque dictum. Phasellus sed dui pellentesque, accumsan quam tempus, aliquet diam. Suspendisse luctus eget nulla a vehicula. Morbi consectetur viverra commodo.

    h3 Basler & Hofmann West AG
    p
      | Forchstrasse 395, Postfach
      br
      | CH-8032 Zürich
      br
      | <a href="#">Lageplan und Anfahrtsbeschreibung</a>
  
  +job-footer({}, {})
