extends /layout/layout

block htmlhead
    title Project Detail Page
    meta(name='description', content='')

block htmlbody
  +header({}, {active: "Projekte"})
  +breadcrumbs({
    pages: [
      { name: 'Projekte'       , href: 'projekte.html'},
      { name: 'Projekte Detail', }
      ]
    })
  .l-m-width.l-spacing-v-xl
    h1.t-title Kehrichtverbrennungsanlage in Perlen

    p.t-lead
      | Die neue Kehrichtverbrennungsanlage der Renergia Zentralschweiz AG in
      | Perlen ist imposant: rund 200 Meter lang, 60 Meter breit und bis zu 50
      | Meter hoch. Die Anlage beeindruckt aber nicht nur mit ihrer äusserlichen
      | Dimension, sondern auch mit ihren inneren Werten: Sie zeichnet sich durch
      | vorbildliche Energieeffizienz aus.

    .t-rt-container
      h3 Beteiligte Kompetenzen
      p <a href="#">Gebäudetechnik</a>, <a href="#">Energieeffizienz</a>, <a href="#">Erneuerbare Energien</a>, <a href="#">TEDDA –Technical and Environmental Due Diligence</a>, <a href="#">Elektroplanung</a>, <a href="#">Realbrandversuche mit Izar</a>

      h3 Auftraggeber/Bauherr
      p Renergia Zentralschweiz AG

  +testimonial({
    imgSrc: relativePath + 'assets/arbeiten-testimonial1.png',
    text: '« Die Anlage beeindruckt nicht nur mit ihrer äusserlichen Dimensionen, sondern auch mit ihren inneren Werten: Sie zeichnet sich durch vorbildliche Energieeffizienz aus. »'
  }, {})

  .l-m-width.l-spacing-v-s.t-rt-container
    h2 Wo Abfall Dampf macht

    p
      | Der Hauptanteil der Energie, die bei der Verbrennung des Abfalls in
      | Perlen entsteht, wird in Dampfform von der benachbarten Papierfabrik
      | genutzt. Damit erreicht die neue Kehrichtverbrennungsanlage einen
      | Energienutzungsgrad von 70 Prozent. Bei der bisherigen Anlage waren es
      | nur 29 Prozent. Dank der massgeblichen Unterstützung von Basler & Hofmann
      | konnte der Recycling-Gedanke zudem auch beim Bau der Anlage in beachtlicher
      | Weise umgesetzt werden. 17 Prozent der Betonrohstoffe sind Betonabbruch,
      | also wiederverwerteter Beton. Bei ausgewählten Bauteilen kam zudem
      | Öko-Beton zum Einsatz, bei dessen Herstellung rund 25 Prozent weniger
      | CO2 entsteht. Ein in jeder Hinsicht nachhaltiges Kraftwerk.

    figure
      img(src="http://placehold.it/640x300")
      figcaption Die neue Anlage erreicht einen Energienutzungs-grad von 70 Prozent.

    h2 Leistungen von Basler & Hofmann

    p
      | Tragwerksplanung des Hochbaus in Stahlbeton und Stahl, Bauleitung für
      | Spezialtiefbau und Hochbau,  Planung der neuen Zufahrtsbrücke in
      | Stahl-Beton-Verbundbauweise inkl. Bauleitung

    a(href="#") Fotograf

  .l-m-width.l-spacing-v-s
    p
      a(href="#") Zurück zur Übersicht

    +share({url: "http://localhost:9000/en/detail-generic.html"}, {})
  .l-border-t.l-spacing-v-l
    .l-m-width
      h2.l-margin-v-xs Ähnliche Projekte
      .l-grid
        .l-grid-cell.l-one-third
          +item-project({
          title: "Pistensanierung Zürich Flughafen",
          imgSrc: relativePath + 'assets/projects/project1.jpg',
          legend: "Pistensanierung unter vollem Flugbetrieb",
          link: './detail-project.html'
        }, {legend: true})
        .l-grid-cell.l-one-third
          +item-project({
          title: "Pistensanierung Zürich Flughafen",
          imgSrc: relativePath + 'assets/projects/project1.jpg',
          legend: "Pistensanierung unter vollem Flugbetrieb",
          link: './detail-project.html'
        }, {legend: true})
        .l-grid-cell.l-one-third
          +item-project({
          title: "Pistensanierung Zürich Flughafen",
          imgSrc: relativePath + 'assets/projects/project1.jpg',
          legend: "Pistensanierung unter vollem Flugbetrieb",
          link: './detail-project.html'
        }, {legend: true})

  .l-margin-v-l
    .l-m-width
      h2.l-margin-v-xs Rundum das Thema
      .l-grid
        +item-current({ title: 'Dienstleistungen für Bahnhöfe und ihr Umfeld, 3.2 MB', label: 'Broschüre'}, {size: 'small', icon: 'publication'})
        +item-current({ title: 'Ausbildungs-Info-Abend bei Basler & Hofmann, 11.11.2014 um 17:00 Uhr', label: 'Newsletter'}, {size: 'small', icon: 'publication'})

  +footer({
    copyright: '© Basler & Hofmann 2015',
    languages: [
      { text: 'DE', href: '#', active: true },
      { text: 'FR', href: '#' },
      { text: 'EN', href: '#' }
    ],
    links: [
      { text: 'Impressum'    , href: '#' },
      { text: 'Service Links', href: '#' }
    ]
  }, {})
