extends /layout/layout

block htmlhead
    title Basler & Hofmann
    meta(name='description', content='')

block htmlbody
  +header({}, {active: "Home"})

  +fullwidth-image({ imgSrc: "https://thisvtlife.files.wordpress.com/2010/04/comm-mtg-35.jpg" }, { hasArrow: true })
    h3 Wir sind ein unabhängiges Ingenieur-, Planungs- und Beratungs-unternehmem.
    p TVernetztes Denken und ein Blick fürs Ganze zeichnen unsere Arbeit aus.
  +section({ title: 'Projekte im Fokus', buttonText: 'Weitere Projekte' }, {})
    a
      span.icon.icon--small.icon--instagram
      | Hello WORLDDDDDD
    h3.l-grid-cell.l-one-whole Project List goes here

  +section({ title: 'Aktuell bei Basler & Hofmann', buttonText: 'Weitere News, Events und Plublikationen' }, { background: 'grey1' })
    +item-current({ title: 'Schule als Gestaltungs-, Lern und Lebensraum am 12. März 2015', type: 'Veranstaltungen'}, {})
    +item-current({ title: 'Gemeinsam mit Kopf und Herz: Firmenportrait zum 50. Jubiläum', type: 'Publikationen'}, {})
    +item-current({ title: 'Basler & Hofmann ausgezeichnet als "Tunnel Design Firm of the Year"', type: 'Neuigkeiten'}, {})
    +item-current({ title: 'NZZ am Sonntag vom 28.12.2014: Unterschätzter Unterhalt', type: 'Frachartikel'}, {})

  +fullwidth-image({ labelText: 'Reportage', imgSrc: "http://static.pexels.com/wp-content/uploads/2014/10/long-road-straight-3131.jpg" }, {})
    h3 People Business
    p Team Spirit spielt bei uns eine zentrale Rolle. Wie Basler & Hofmann ihren Leitsatz "Miteinander — Füreinander" seit 50 Jahren umsetzt.
    +button({ href: '', text: 'Weiterlesen' }, { color: 'light' })


  +section({ title: 'Wir suchen Verstärkung', buttonText: 'Alle Offene Stellen Ansehen (34)' }, { hasLabel: true })
    +item-job({ position: 'Bauingenier/in Brückenbau', location: 'Zürich', positionUrl: '#', locationUrl: '#'}, {})
    +item-job({ position: 'Bauleiter/in Hoch- und Tiefbau', location: 'Lausanne', positionUrl: '#', locationUrl: '#'}, {})
    +item-job({ position: 'Bauzeichner/in', location: 'Zug', positionUrl: '#', locationUrl: '#'}, {})
    +item-job({ position: 'Erfahrene/r Bauingenieur/in Erdbebenwesen', location: 'Murten', positionUrl: '#', locationUrl: '#'}, {})
    +item-job({ position: 'Senior Projekleiter/in Raumplanung', location: 'Luzern', positionUrl: '#', locationUrl: '#'}, {})
