extends /layout/layout

block htmlhead
    title Basler & Hofmann
    meta(name='description', content='')

block htmlbody

  +header({}, {active: "Home"})


  +fullwidth-image({
    imgSrc: relativePath + 'assets/home-fullwidth-image1.png',
    arrowTitle: 'Projekte im Fokus',
    arrowTarget: 'projekte-im-focus'
  }, {arrow: true})
    h3 Wir sind ein unabhängiges Ingenieur-, Planungs- und Beratungs-unternehmem.
    p TVernetztes Denken und ein Blick fürs Ganze zeichnen unsere Arbeit aus.

  +section({
    title: 'Projekte im Fokus',
    buttonText: 'Weitere Projekte',
    buttonHref: './projekt.html',
    id: 'projekte-im-focus'
  }, {
    background: 'white',
    containerSize: 'l',
    content: false
  })
    .l-grid
      .l-grid-cell.l-thirty-seven
        +item-project({title: "Pistensanierung Zürich Flughafen", imgSrc: relativePath + 'assets/projects/project1.jpg'}, {legend: false})
      .l-grid-cell.l-one-quarter
        +item-project({title: "Unterirdischer Durchgangsbahnhof Zürich", imgSrc: relativePath + 'assets/projects/project2.jpg'}, {legend: false})
      .l-grid-cell.l-thirty-seven
        +item-project({title: "Tramlinie vom Escher-Wyss-Platz bis Zürich Altstetten", imgSrc: relativePath + 'assets/projects/project3.jpg'}, {legend: false})

  +section({
    title: 'Aktuell bei Basler & Hofmann',
    buttonText: 'Weitere aktuelles',
    buttonHref: '#'
  },{
    background: 'light-pink',
    containerSize: 'l',
    content: false
  })
    .l-grid
      +item-current({ title: 'Schule als Gestaltungs-, Lern und Lebensraum am 12. März 2015', label: 'Veranstaltung'}, {size: 'large', icon: 'event'})
      +item-current({ title: 'Gemeinsam mit Kopf und Herz: Firmenportrait zum 50. Jubiläum', label: 'Publikation'}, {size: 'large', isExternal: true, icon: 'publication'})
      +item-current({ title: 'Basler & Hofmann ausgezeichnet als "Tunnel Design Firm of the Year"', label: 'News'}, {size: 'large', icon: 'publication'})
      +item-current({ title: 'NZZ am Sonntag vom 28.12.2014: Unterschätzter Unterhalt', label: 'Fachartikel'}, {size: 'large', isExternal: true})

  +fullwidth-image({ imgSrc: relativePath + 'assets/home-fullwidth-image2.png', label: 'Reportage' }, {icon: 'news'})
    h3 People Business
    p Team Spirit spielt bei uns eine zentrale Rolle. Wie Basler & Hofmann ihren Leitsatz "Miteinander — Füreinander" seit 50 Jahren umsetzt. <a href="#">Weiterlesen</a>


  +section({
    title: 'Wir suchen Verstärkung',
    buttonText: 'Alle Offene Stellen Ansehen (34)',
    buttonHref: './offene.html'
  }, {
    background: 'white',
    containerSize: 'l',
    content: false
  })
    .l-grid
      .l-grid-cell.l-one-third
        +item-job({ position: 'Bauingenier/in Brückenbau', location: 'Murten', positionUrl: '#', locationUrl: '#'}, {})
      .l-grid-cell.l-one-third
        +item-job({ position: 'Erfahrene/r Bauingenieur/in Erdbeben-wesen', location: 'Lausanne', positionUrl: '#', locationUrl: '#'}, {})
      .l-grid-cell.l-one-third
        +item-job({ position: 'Senior Projektleiter/in Raumplanung', location: 'Luzern', positionUrl: '#', locationUrl: '#'}, {})
      .l-grid-cell.l-one-third
        +item-job({ position: 'Fachperson Gebäudeschadstoffe (70% - 100%)', location: 'Zürich', positionUrl: '#', locationUrl: '#'}, {})
      .l-grid-cell.l-one-third
        +item-job({ position: 'Gebäuddetechnikplaner/innen Heizung, Lüftung oder Sanitär', location: 'Zollikofen', positionUrl: '#', locationUrl: '#'}, {})
      .l-grid-cell.l-one-third
        +item-job({ position: 'Gesamtprojektleiter/in Gebäudetechnik', location: 'Zug', positionUrl: '#', locationUrl: '#'}, {})

  +footer({
    copyright: '© Basler & Hofmann 2015',
    languages: [
      { text: 'DE', href: '#', active: true },
      { text: 'FR', href: '#' },
      { text: 'EN', href: '#' }
    ],
    links: [
      { text: 'Impressum'    , href: '#' },
      { text: 'Service Links', href: '#' }
    ]
  }, {})
