extends /layout/layout

block htmlhead
    title Basler & Hofmann
    meta(name='description', content='')

block htmlbody

  +header({}, {active: "Offene Stellen"})

  .l-l-width.l-spacing-v-l
    h1.t-title.t-border-bottom Offene Stellen

    +search-field({ placeholder: 'Suche in offenen Stellen' }, {})

  +tabs({
    tabs: [
      { text: 'Alle (35)'      , href: '#', active: true },
      { text: 'Lausanne (2)'   , href: '#' },
      { text: 'Luzern (7)'     , href: '#' },
      { text: 'Murten (0)'     , href: '#' },
      { text: 'Zollikofen (12)', href: '#' },
      { text: 'Zürich (14)'    , href: '#' },
      { text: 'Zug (1)'        , href: '#' }
    ]
  },{})

  .l-l-width.l-spacing-v-l
    +list({}, {})
      +list-item()
        +item-job({
          position: 'Bauingenieur/in Brückenbau',
          location: 'Zollikofen',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table'})
      +list-item()
        +item-job({
          position: 'Bauingenieur/in Konstruktion',
          location: 'Murten',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Bauingenieur/in Tunnelbau',
          location: 'Zürich',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Bauleiter/in Hoch- und Tiefbau',
          location: 'Zollikofen',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table'})
      +list-item()
        +item-job({
          position: 'Bauzeichner/in EFZ',
          location: 'Murten',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Bauzeichner/in EFZ, Konstruktion',
          location: 'Zollikofen',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'CAD-Bauzeichner/in Tiefbau und Verkehrsplanung',
          location: 'Luzern',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table'})
      +list-item()
        +item-job({
          position: 'Chef/cheffe de projet Infrastructures ferroviaires pour notre site de Lausanne',
          location: 'Lausanne',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Chefbauleiter/in Grossbaustelle Nationalstrasse',
          location: 'Zürich',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Dipl. Maschineningenieur/Verfahrensingenieur FH (m/w)',
          location: 'Zürich',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table'})
      +list-item()
        +item-job({
          position: 'Elektroplaner/ in',
          location: 'Zollikofen',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Erfahrene/r Bauingenieur/in Erdbebenwesen',
          location: 'Zürich',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Erfahrene/r Brandschutzingenieur/in',
          location: 'Zürich',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table'})
      +list-item()
        +item-job({
          position: 'Erfahrene/r Projektleiter/in Risiko- und Sicherheitsberatung',
          location: 'Lausanne',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Fachperson Gebäudeschadstoffe (70% - 100%)',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Gebäudetechnikplaner/innen Heizung, Lüftung oder Sanitär',
          location: 'Zürich',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table'})
      +list-item()
        +item-job({
          position: 'Gesamtprojektleiter/in Gebäudetechnik',
          location: 'Lausanne',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Gesamtprojektleiter/in Gebäudetechnik',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Leitende/r Gebäudetechnikingenieur/in',
          location: 'Zürich',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table'})
      +list-item()
        +item-job({
          position: 'Praktikantinnen und Praktikanten',
          location: 'Lausanne',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Projektingenieur/in Tiefbau',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Projektleiter/in Bahnbau',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Projektleiter/in Bahninfrastruktur Standort Lausanne',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Projektleiter/in Bahntechnik',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Projektleiter/in Brückenbau/Kunstbauten',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Projektleiter/in Hochbau mit Führungsverantwortung',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Projektleiter/in im konstruktiven Hochbau',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Projektleiter/in Strasse und Infrastruktur',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Projektleiter/in Strasse und Infrastruktur mit Führungsverantwortung',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Projektleiter/in Werterhalt/Sanierung/Umbau',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Raumplaner/in',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Senior Projektleiter/in Raumplanung',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Zeichner/in EFZ Fachrichtung Ingenieurbau für Projekte im Tunnel- und Tiefbau sowie in der Bahninfrastruktur',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Zeichner/in EFZ Ingenieurbau Geotechnik',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Zeichner/in EFZ Ingenieurbau, Hochbau und Brückenbau',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })
      +list-item()
        +item-job({
          position: 'Zeichner/in EFZ Ingenieurbau, Strassen und städtischer Tiefbau',
          location: 'Zug',
          positionUrl: '#',
          locationUrl: '#'
        }, { layout: 'table' })

  +footer({
    copyright: '© Basler & Hofmann 2015',
    languages: [
      { text: 'DE', href: '#', active: true },
      { text: 'FR', href: '#' },
      { text: 'EN', href: '#' }
    ],
    links: [
      { text: 'Impressum'    , href: '#' },
      { text: 'Service Links', href: '#' }
    ]
  }, {})
