extends /layout/layout

block htmlhead
    title Basler & Hofmann
    meta(name='description', content='')

block htmlbody

  +header({}, {active: "Projekte"})

  .l-l-width
    h1.t-h1.t-border-bottom Projekte

    +search-field({ placeholder: 'Suche in Projekten' }, {})
