extends /layout/layout

block htmlhead
    title Basler & Hofmann
    meta(name='description', content='')

block htmlbody
  +header({}, {active: "Projekte"})

  .l-l-width
    h1.t-h1.t-border-bottom Aktuelles

    +search-field({ placeholder: 'Suche in Aktuelles' }, {})
      +filter({label: "Filter nach Kompetenz"}, {})

  +section({
    title: 'Foo title',
    buttonText: 'bar button text',
    buttonHref: '#'
  }, { containerSize: 'l', background: 'white' })
