extends /layout/layout

block htmlhead
    title Basler & Hofmann
    meta(name='description', content='')

block htmlbody

  +header({}, {active: "Standorte"})

  .l-l-width
    h1.t-h1.t-border-bottom Standorte
