extends /layout/layout

block htmlhead
    title Basler & Hofmann
    meta(name='description', content='')

block htmlbody
  +header({}, {active: "Standorte"})

  +item-location-map({
    center: {lat: 46.9546499, lng: 7.8105},
    zoom: 8
  })

  .l-l-width.l-spacing-v-m
    h1.t-title Standorte

    .item-location-list.l-grid
      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({lat: 47.351471, lng: 8.582607}, {direction: true})
          | Basler & Hofmann AG<br>
          | Ingenieure, Planer und Berater<br>
          | Forchstrasse 395, Postfach<br>
          | CH-8032 Zürich<br>
          | 041 44 387 11 22
      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({lat: 47.288283, lng: 8.709672}, {direction: true})
          | Basler & Hofmann AG<br>
          | Ingenieure, Planer und Berater<br>
          | Bachweg 1, Postfach<br>
          | CH-8133 Esslingen<br>
          | 041 44 387 15 22
      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({lat: 46.515925, lng: 6.6329956}, {})
          | Basler & Hofmann AG<br>
          | Ingénieurs, planificateurs et conseillers<br>
          | Av. d'Ouchy 6<br>
          | Case postale 173 - 1001 Lausanne<br>
          | 041 44 387 11 44

      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({lat: 47.0033238, lng: 7.4643508}, {direction: true})
          | Basler & Hofmann West AG<br>
          | Industriestrasse 1<br>
          | CH-3052 Zollikofen<br>
          | 041 31 544 24 24
      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({lat: 46.9311239, lng: 7.1257277}, {})
          | Basler & Hofmann West AG<br>
          | Bernstrasse 30<br>
          | CH-3280 Murten<br>
          | 041 26 672 99 77
      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({lat: 47.04607, lng: 8.3170261}, {direction: true})
          | Basler & Hofmann Innerschweiz AG<br>
          | Landenbergstrasse 34<br>
          | Postfach 3667<br>
          | CH-6002 Luzern<br>
          | 041 41 368 46 46

      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({lat: 47.1861859, lng: 8.473614}, {direction: true})
          | Basler & Hofmann Innerschweiz AG<br>
          | Alte Steinhauserstrasse 1<br>
          | CH-6330 Cham<br>
          | 041 41 747 03 30
      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({lat: 46.9792922, lng: 8.3383312}, {direction: true})
          | Basler & Hofmann Innerschweiz AG<br>
          | Kehrsitenstrasse 2<br>
          | Postfach 258<br>
          | CH-6362 Stansstad<br>
          | 041 41 619 77 99
      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({lat: 47.0420623, lng: 8.1827242}, {direction: true})
          | Basler & Hofmann Innerschweiz AG<br>
          | Hellbühlstrasse 11<br>
          | CH-6102 Malters<br>
          | 041 41 499 90 10

  +footer({
    copyright: '© Basler & Hofmann 2015',
    languages: [
      { text: 'DE', href: '#', active: true },
      { text: 'FR', href: '#' },
      { text: 'EN', href: '#' }
    ],
    links: [
      { text: 'Impressum'    , href: '#' },
      { text: 'Service Links', href: '#' }
    ]
  }, {})
