extends /layout/layout

block htmlhead
    title Basler & Hofmann
    meta(name='description', content='')

block htmlbody
  +header({}, {active: "Standorte"})

  +map({
    lat: 46.9546499,
    lng: 7.8105,
    zoom: 8
  }, {})

  .l-l-width.l-spacing-v-m
    h1.t-title Standorte

    .item-location-list.l-grid
      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({
          lat: 47.351471,
          lng: 8.582607,
          title: "Basler & Hofmann AG",
          subtitle: "Ingenieure, Planer und Berater",
          address: "Forchstrasse 395, Postfach",
          country: "CH",
          npa: "8032",
          locality: "Zürich",
          phone: "041 44 387 11 22"
        }, {direction: true})
      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({
          lat: 47.288283,
          lng: 8.709672,
          title: "Basler & Hofmann AG",
          subtitle: "Ingenieure, Planer und Berater",
          address: "Bachweg 1, Postfach",
          country: "CH",
          npa: "8133",
          locality: "Esslingen",
          phone: "041 44 387 15 22"
        }, {direction: true})
      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({
          lat: 46.515925,
          lng: 6.6329956,
          title: "Basler & Hofmann AG",
          subtitle: "Ingénieurs, planificateurs et conseillers",
          address: "Av. d'Ouchy 6",
          postbox: "Case postale 173",
          npa: "1001",
          locality: "Lausanne",
          phone: "041 44 387 11 44"
        }, {})

      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({
          lat: 47.0033238,
          lng: 7.4643508,
          title: "Basler & Hofmann West AG",
          address: "Industriestrasse 1",
          country: "CH",
          npa: "3052",
          locality: "Zollikofen",
          phone: "041 31 544 24 24"
        }, {direction: true})
      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({
          lat: 46.9311239,
          lng: 7.1257277,
          title: "Basler & Hofmann West AG",
          address: "Bernstrasse 30",
          country: "CH",
          npa: "3280",
          locality: "Murten",
          phone: "041 26 672 99 77"
        }, {})
      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({
          lat: 47.04607,
          lng: 8.3170261,
          title: "Basler & Hofmann Innerschweiz AG",
          address: "Landenbergstrasse 34",
          postbox: "Postfach 3667",
          country: "CH",
          npa: "6002",
          locality: "Luzern",
          phone: "041 41 368 46 46"
        }, {direction: true})

      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({
          lat: 47.1861859,
          lng: 8.473614,
          title: "Basler & Hofmann Innerschweiz AG",
          address: "Alte Steinhauserstrasse 1",
          country: "CH",
          npa: "6330",
          locality: "Cham",
          phone: "041 41 747 03 30"
        }, {direction: true})
      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({
          lat: 46.9792922,
          lng: 8.3383312,
          title: "Basler & Hofmann Innerschweiz AG",
          address: "Kehrsitenstrasse 2",
          postbox: "Postfach 258",
          country: "CH",
          npa: "6362",
          locality: "Stansstad",
          phone: "041 41 619 77 99"
        }, {direction: true})
      .l-grid-cell.l-one-third.l-mobile-one-whole
        +item-location({
          lat: 47.0420623,
          lng: 8.1827242,
          title: "Basler & Hofmann Innerschweiz AG",
          address: "Hellbühlstrasse 11",
          country: "CH",
          npa: "6102",
          locality: "Malters",
          phone: "041 41 499 90 10"
        }, {direction: true})

  +footer({
    copyright: '© Basler & Hofmann 2015',
    languages: [
      { text: 'DE', href: '#', active: true },
      { text: 'FR', href: '#' },
      { text: 'EN', href: '#' }
    ],
    links: [
      { text: 'Impressum'    , href: '#' },
      { text: 'Service Links', href: '#' }
    ]
  }, {})
