mixin breadcrumbs (data, options)
  - options = setOptionsDefaults(options, "breadcrumbs", components.breadcrumbs)

  .l-xl-width
    ul.breadcrumbs.list--no-bullets
      each breadcrumb, index in data.pages
        li.breadcrumbs-item
          - var isLink = index < data.pages.length - 1
          if isLink
            a.breadcrumbs-item--link.t-link(href=breadcrumb.href)= breadcrumb.name
          else
            span.breadcrumbs-item--page.t-link #{breadcrumb.name}
