// SPACINGS
$job-footer-vertical-padding: 70px !default; // TODO: relace with $size-l when the header branch is merged.
$job-footer-title-margin: 0.4em !default;
$job-footer-paragraph-margin: 0.45em !default;
$job-footer-form-margin-top: 20px !default;

// COLORS
$job-footer-background: $c-grey100 !default;
$job-footer-color: $c-white !default;
$job-footer-link-color: $c-white !default;
$job-footer-link-color--hover: $c-grey20 !default; // TODO: check hover color for links on dark background.

.job-footer {
  padding: $job-footer-vertical-padding;
  background: $job-footer-background;

  &, p, &-title {
    color: $job-footer-color;
  }

  a {
    &, &:link, &:visited, &:active {
      color: $job-footer-link-color;
    }
    &:hover, &:focus {
      color: $job-footer-link-color--hover;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: $job-footer-paragraph-margin; // Paragraph in job-footer have smaller margin-bellow than standard text.
    &:last-child {
      margin-bottom: 0; // Remove margin from last paragraph, otherwise there is too much space at the bottom.
    }
  }

  &-title {
    margin-top: 0;
    margin-bottom: $job-footer-title-margin;
  }

  &-form {
    margin-top: $job-footer-form-margin-top;
    overflow: hidden; // clearfix
  }
  
}
