.icon--archive { background-image: url('png/archive.png'); background-repeat: no-repeat; }

.icon--bars { background-image: url('png/bars.png'); background-repeat: no-repeat; }

.icon--bell { background-image: url('png/bell.png'); background-repeat: no-repeat; }

.icon--broadcast { background-image: url('png/broadcast.png'); background-repeat: no-repeat; }

.icon--browser { background-image: url('png/browser.png'); background-repeat: no-repeat; }

.icon--calendar { background-image: url('png/calendar.png'); background-repeat: no-repeat; }

.icon--camera { background-image: url('png/camera.png'); background-repeat: no-repeat; }

.icon--cart { background-image: url('png/cart.png'); background-repeat: no-repeat; }

.icon--cclicense { background-image: url('png/cclicense.png'); background-repeat: no-repeat; }

.icon--check { background-image: url('png/check.png'); background-repeat: no-repeat; }

.icon--creditcard { background-image: url('png/creditcard.png'); background-repeat: no-repeat; }

.icon--cross { background-image: url('png/cross.png'); background-repeat: no-repeat; }

.icon--crosshairs { background-image: url('png/crosshairs.png'); background-repeat: no-repeat; }

.icon--document { background-image: url('png/document.png'); background-repeat: no-repeat; }

.icon--downstroke { background-image: url('png/downstroke.png'); background-repeat: no-repeat; }

.icon--downstrokethin { background-image: url('png/downstrokethin.png'); background-repeat: no-repeat; }

.icon--export { background-image: url('png/export.png'); background-repeat: no-repeat; }

.icon--facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon--flickr { background-image: url('png/flickr.png'); background-repeat: no-repeat; }

.icon--floppy { background-image: url('png/floppy.png'); background-repeat: no-repeat; }

.icon--folder { background-image: url('png/folder.png'); background-repeat: no-repeat; }

.icon--gear { background-image: url('png/gear.png'); background-repeat: no-repeat; }

.icon--googleplus { background-image: url('png/googleplus.png'); background-repeat: no-repeat; }

.icon--heart { background-image: url('png/heart.png'); background-repeat: no-repeat; }

.icon--helpcircle { background-image: url('png/helpcircle.png'); background-repeat: no-repeat; }

.icon--house { background-image: url('png/house.png'); background-repeat: no-repeat; }

.icon--inbox { background-image: url('png/inbox.png'); background-repeat: no-repeat; }

.icon--infocircle { background-image: url('png/infocircle.png'); background-repeat: no-repeat; }

.icon--instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon--left-stroke-thin { background-image: url('png/left-stroke-thin.png'); background-repeat: no-repeat; }

.icon--left-stroke { background-image: url('png/left-stroke.png'); background-repeat: no-repeat; }

.icon--leftstroke { background-image: url('png/leftstroke.png'); background-repeat: no-repeat; }

.icon--leftstrokethin { background-image: url('png/leftstrokethin.png'); background-repeat: no-repeat; }

.icon--link { background-image: url('png/link.png'); background-repeat: no-repeat; }

.icon--linkedin { background-image: url('png/linkedin.png'); background-repeat: no-repeat; }

.icon--list { background-image: url('png/list.png'); background-repeat: no-repeat; }

.icon--lock-open { background-image: url('png/lock-open.png'); background-repeat: no-repeat; }

.icon--lock { background-image: url('png/lock.png'); background-repeat: no-repeat; }

.icon--lockopen { background-image: url('png/lockopen.png'); background-repeat: no-repeat; }

.icon--loupe { background-image: url('png/loupe.png'); background-repeat: no-repeat; }

.icon--mail { background-image: url('png/mail.png'); background-repeat: no-repeat; }

.icon--map { background-image: url('png/map.png'); background-repeat: no-repeat; }

.icon--matrix { background-image: url('png/matrix.png'); background-repeat: no-repeat; }

.icon--minuscircle { background-image: url('png/minuscircle.png'); background-repeat: no-repeat; }

.icon--mobile-phone { background-image: url('png/mobile-phone.png'); background-repeat: no-repeat; }

.icon--mobilephone { background-image: url('png/mobilephone.png'); background-repeat: no-repeat; }

.icon--paperclip { background-image: url('png/paperclip.png'); background-repeat: no-repeat; }

.icon--pause { background-image: url('png/pause.png'); background-repeat: no-repeat; }

.icon--paypal { background-image: url('png/paypal.png'); background-repeat: no-repeat; }

.icon--pencil { background-image: url('png/pencil.png'); background-repeat: no-repeat; }

.icon--person-plus { background-image: url('png/person-plus.png'); background-repeat: no-repeat; }

.icon--person { background-image: url('png/person.png'); background-repeat: no-repeat; }

.icon--personplus { background-image: url('png/personplus.png'); background-repeat: no-repeat; }

.icon--phone { background-image: url('png/phone.png'); background-repeat: no-repeat; }

.icon--picture { background-image: url('png/picture.png'); background-repeat: no-repeat; }

.icon--pictures { background-image: url('png/pictures.png'); background-repeat: no-repeat; }

.icon--pin { background-image: url('png/pin.png'); background-repeat: no-repeat; }

.icon--pinterest { background-image: url('png/pinterest.png'); background-repeat: no-repeat; }

.icon--play { background-image: url('png/play.png'); background-repeat: no-repeat; }

.icon--pluscircle { background-image: url('png/pluscircle.png'); background-repeat: no-repeat; }

.icon--popup { background-image: url('png/popup.png'); background-repeat: no-repeat; }

.icon--right-stroke { background-image: url('png/right-stroke.png'); background-repeat: no-repeat; }

.icon--rightstroke { background-image: url('png/rightstroke.png'); background-repeat: no-repeat; }

.icon--rightstrokethin { background-image: url('png/rightstrokethin.png'); background-repeat: no-repeat; }

.icon--rocket { background-image: url('png/rocket.png'); background-repeat: no-repeat; }

.icon--screen { background-image: url('png/screen.png'); background-repeat: no-repeat; }

.icon--sort { background-image: url('png/sort.png'); background-repeat: no-repeat; }

.icon--soundcloud { background-image: url('png/soundcloud.png'); background-repeat: no-repeat; }

.icon--speechbubble { background-image: url('png/speechbubble.png'); background-repeat: no-repeat; }

.icon--star { background-image: url('png/star.png'); background-repeat: no-repeat; }

.icon--stop { background-image: url('png/stop.png'); background-repeat: no-repeat; }

.icon--thumbsdown { background-image: url('png/thumbsdown.png'); background-repeat: no-repeat; }

.icon--thumbsup { background-image: url('png/thumbsup.png'); background-repeat: no-repeat; }

.icon--twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon--up-stroke-thin { background-image: url('png/up-stroke-thin.png'); background-repeat: no-repeat; }

.icon--up-stroke { background-image: url('png/up-stroke.png'); background-repeat: no-repeat; }

.icon--upload { background-image: url('png/upload.png'); background-repeat: no-repeat; }

.icon--upstroke { background-image: url('png/upstroke.png'); background-repeat: no-repeat; }

.icon--upstrokethin { background-image: url('png/upstrokethin.png'); background-repeat: no-repeat; }

.icon--vimeo { background-image: url('png/vimeo.png'); background-repeat: no-repeat; }

