mixin listing(data, options)
  - options = setOptionsDefaults(options, "listing", components.listing)
  - var classes = "listing"
  if data.title && options.showTitle
    - classes += " listing--with-title"

  div(class=classes)
    if data.title && options.showTitle
      h2.listing-title= data.title

    ol.listing-list
      if block
        block
      else
        +listing-item()
          +item-job({ position: 'Bauingenier/in Brückenbau', location: 'Zürich', positionUrl: '#', locationUrl: '#'}, {})
        +listing-item()
          +item-job({ position: 'Bauleiter/in Hoch- und Tiefbau', location: 'Lausanne', positionUrl: '#', locationUrl: '#'}, {})
        +listing-item()
          +item-job({ position: 'Bauzeichner/in', location: 'Zug', positionUrl: '#', locationUrl: '#'}, {})

mixin listing-item()
  li.listing-item
    block
