// SPACINGS
$fullwidth-image-min-height: 45 * $s-gutter !default; // 450px
$fullwidth-image-min-height--big: 78 * $s-gutter !default; // 780px
$fullwidth-image-content-top: $size-m !default;
$fullwidth-image-content-width: 426px !default;
$fullwidth-image-content-padding-vertical: $size-m !default;
$fullwidth-image-content-padding-horizontal: $size-s !default;
$fullwidth-image-label-margin: $size-s !default;
$fullwidth-image-label-icon-margin: $s-gutter !default;
$fullwidth-image-title-margin: 1.25em !default;
$fullwidth-image-arrow-width: 57px !default;
$fullwidth-image-arrow-height: 37px !default;
$fullwidth-image-arrow-margin-bottom: $size-s !default;

$fullwidth-image-icon-w: 25px;
$fullwidth-image-icon-h: 20px;

// COLORS
$fullwidth-image-background: $c-black !default;
$fullwidth-image-color: $c-white !default;
$fullwidth-image-label-color: $c-grey40 !default;
$fullwidth-image-link-color: $fullwidth-image-color !default;
$fullwidth-image-link-color--active: $c-grey20 !default;
$fullwidth-image-arrow-color: $c-white !default;

.fullwidth-image {
  background-size: cover;

  &-container {
    position: relative;
    min-height: $fullwidth-image-min-height;
  }

  &--size-big .fullwidth-image-container {
    min-height: $fullwidth-image-min-height--big;
  }

  &-label {
    margin: -$fullwidth-image-label-margin 0 $fullwidth-image-label-margin 0;
    color: $fullwidth-image-label-color;
    font-size: 1rem; // Overwrite the default 18px font-size from .t-lead. (16px)
    text-transform: uppercase;

    .icon {
      display: inline-block;
      margin-right: $fullwidth-image-label-icon-margin;
      vertical-align: top;
    }
    svg {
      width: $fullwidth-image-icon-w;
      height: $fullwidth-image-icon-h;
    }

    path {
      fill: currentColor;
    }
  }

  &-content {
    box-sizing: border-box;
    position: absolute;
    top: $fullwidth-image-content-top;
    left: 0;
    max-width: $fullwidth-image-content-width;
    padding: $fullwidth-image-content-padding-vertical $fullwidth-image-content-padding-horizontal;
    color: $fullwidth-image-color;
    background: $fullwidth-image-background;

    h3 {
      @extend .t-h1;
      @extend .t-border-bottom;
      margin-top: 0; // Overwrite default heading margin-top.
      margin-bottom: $fullwidth-image-title-margin; // Adds more space below .t-boder-bottom.
      color: $fullwidth-image-color; // Overwrite .t-h1 pink color.
    }

    p {
      color: $fullwidth-image-color;

      &:last-child {
        margin-bottom: 0; // We want padding-below to be exactly $size-m, withtout adding default paragraph margin-bottom.
      }
    }

    a {
      &, &:active, &:visited {
        color: $fullwidth-image-link-color;
      }
      &:hover, &:focus {
        color: $fullwidth-image-link-color--active;
      }
    }
  }

  &-arrow {
    position: absolute;
    left: 50%;
    bottom: $fullwidth-image-arrow-margin-bottom;
    margin-left: -($fullwidth-image-arrow-width / 2);

    &, svg {
      width: $fullwidth-image-arrow-width;
      height: $fullwidth-image-arrow-height;
    }

    path {
      fill: $fullwidth-image-arrow-color;
    }
  }
}
