mixin fullwidth-image(data, options)
  - options = setOptionsDefaults(options, "fullwidth-image", components['fullwidth-image'])
  - var classes = getOptionsModifier(options, "fullwidth-image", null, components['fullwidth-image'])

  div(style="background-image: url(#{data.imgSrc})", class=classes)
    .l-l-width.fullwidth-image-container
      if block
        .fullwidth-image-content
          block
      else if options.content
        .fullwidth-image-content
          h3 Wir sind ein unabhängiges Ingenieur-, Planungs- und Beratungs-unternehmem.
          p TVernetztes Denken und ein Blick fürs Ganze zeichnen unsere Arbeit aus.
      
      if options.arrow != false
        if typeof options.arrow == "object"
          a.fullwidth-image-arrow(href="#" + options.arrow.target, title=options.arrow.title)
            div.icon.icon--downstrokethin(data-grunticon-embed)
        else
          a.fullwidth-image-arrow(href="#", title="Title of next section")
            div.icon.icon--downstrokethin(data-grunticon-embed)
