mixin section(data, options)
  - options     = setOptionsDefaults(options, "section", components.section)
  - var classes = getOptionsModifier(options, "section", ['background'], components.section)

  - containerClass = 'l-' + options.containerSize + '-width'
  .section(class=classes)
    div(class=containerClass)
      h2.section-title= data.title
      .section-content
        block
      if data.buttonText && data.buttonHref
        .section-button
          +button({
              href: data.buttonHref,
              text: data.buttonText
          }, { color: 'pink' })

