$section-vertical-spacing: $size-xl !default;
$section-inner-spacing: $size-l !default;

.section {
  padding: $section-vertical-spacing 0;

  &--background-white       { background: $c-white;       }
  &--background-light-pink  { background: $c-light-pink;  }
  &--background-light-blue  { background: $c-light-blue;  }
  &--background-light-green { background: $c-light-green; }



  &-title {
    @extend .t-h1;
    @extend .t-border-bottom;
    margin: 0;
  }

  &-content {
    margin-top: $section-inner-spacing;
  }

  &-button {
    margin-top: $section-inner-spacing;
    text-align: center;
  }
}
