mixin section(data, options)
  - options     = setOptionsDefaults(options, "section", components.section)
  - var classes = getOptionsModifier(options, "section", ['background'], components.section)

  - containerClass = 'l-' + options.containerSize + '-width'
  - var sectionID = data.id ? data.id : ''
  .section(class=classes, id=sectionID)
    div(class=containerClass)
      h2.section-title= data.title
      .section-content
        if !options.content
          block
        else
          //- THIS IS JUST FOR THE STYLEGUIDE
          .l-grid
            .l-grid-cell.l-one-half
              +item-text({
                title: 'Beruf und Familie',
                text: 'Mit verschiedenen Massnahmen fördern wir eine gesunde Bilanz zwichen privatem und beruflichem Leben.',
                linkText: 'Weiterlesen',
                linkHref: 'detail-generic.html'
              }, { card: 'grey' })
            .l-grid-cell.l-one-half
              +item-text({
                title: 'Persönliche Entwicklung',
                text: 'Mit verschiedenen Massnahmen fördern wir eine gesunde Bilanz zwichen privatem und beruflichem Leben.',
                linkText: 'Weiterlesen',
                linkHref: 'detail-generic.html'
              }, { card: 'grey' })

      if data.buttonText && data.buttonHref
        .section-button
          +button({
              href: data.buttonHref,
              text: data.buttonText
          }, { color: 'pink', size: 'large' })
