// SPACINGS
$item-contact-image-margin: 10px !default;
$item-contact-vr: $size-s;

.item-contact {
  margin-top: $item-contact-vr;
  &-image {
    display: block; // Remove spacing below caused by inline style.
    width: 100%;
    margin-bottom: $item-contact-image-margin;
  }

  &-title {
    @extend .t-h4;
  }

  &-text {
    @extend .t-paragraph;
  }
}
