mixin item-job(data, options)
  - options = setOptionsDefaults(options, "item-job", components['item-job'])

  .item-job
    a.item-job-link(href=data.positionUrl)
      .item-job-location.t-label= data.location
      .item-job-position.t-link= data.position
