// SPACINGS
$item-job-margin-bottom:       $size-m + $s-gutter !default; // 60px
$item-job-location-margin:     $s-gutter !default;
$item-job-layout-table-height: $size-m !default;
$item-job-layout-table-location-width: 15%;

// COLORS
$item-job-link-color: $c-grey60 !default;
$item-job-link-color--active: $c-grey80 !default;

.item-job {
  margin-bottom: $item-job-margin-bottom;
  display: block;
  text-decoration: none;

  &--layout-table {
    @extend %l-clearfix;
    margin-bottom: 0;
  }

  &-location {
    margin-bottom: $item-job-location-margin;
    text-transform: uppercase;
    .item-job--layout-table & {
      float: right;
      margin: 0;
      height: $item-job-layout-table-height;
      line-height: $item-job-layout-table-height;
      @extend .t-link;
      text-transform: none;
      width: $item-job-layout-table-location-width;
      text-align: right;
    }
  }

  &-position {
    text-decoration: underline;
    .item-job--layout-table & {
      float: left;
      margin: 0;
      height: $item-job-layout-table-height;
      line-height: $item-job-layout-table-height;
      @extend .t-paragraph;
      font-family: $strong-font-family;
      text-decoration: none;
      width: 100% - $item-job-layout-table-location-width;
    }
  }

  &:hover, &:focus {
    .item-job-position {
      color: $item-job-link-color--active;
    }
  }


}
