// SPACINGS
$item-job-margin-bottom:       $size-s !default;
$item-job-layout-table-height: $size-m !default;
$item-job-layout-table-location-width: 15%;

$item-job-position-margin:     .5em !default;


// COLORS
$item-job-link-color: $c-grey60 !default;
$item-job-link-color--active: $c-pink !default;

.item-job {
  margin-bottom: $item-job-margin-bottom;
  display: block;
  text-decoration: none;

  &--layout-table {
    @extend %l-clearfix;
    margin-bottom: 0;

    .item-job-location,
    .item-job-position {
      @extend .t-truncate;
    }
  }

  &-location {
    text-transform: uppercase;
    .item-job--layout-table & {
      float: right;
      margin: 0;
      height: $item-job-layout-table-height;
      line-height: $item-job-layout-table-height;
      @extend .t-link;
      text-transform: none;
      width: $item-job-layout-table-location-width;
      text-align: right;
    }
  }

  &-position {
    text-decoration: underline;
    margin-top: $item-job-position-margin;
    font-family: $strong-font-family;

    .item-job--layout-table & {
      float: left;
      margin: 0;
      height: $item-job-layout-table-height;
      line-height: $item-job-layout-table-height;
      @extend .t-paragraph;
      font-family: $strong-font-family;
      text-decoration: none;
      width: 100% - $item-job-layout-table-location-width;
    }
  }

  &:hover, &:focus {
    .item-job-position {
      color: $item-job-link-color--active;
    }
  }


}
